@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
  --clr-bg-primary: #420072;
  --clr-bg-secondary: #7534c4;
  --clr-bg-terciary: #b76efa;

  --clr-text-primary: #320d5a;
  --clr-text-secondary: #ddccff;

  --clr-border-primary: #5a1e9a;
  --clr-border-secondary: #f5f0ff;

  --clr-progress-primary: #1dffee;
  --clr-progress-secondary: #26123D;

  --clr-accent-primary: #F7C351;
  --clr-accent-primary-highlight: #ffe600;
  --clr-accent-secondary: #bb4704;
  --clr-accent-terciary: #f9d27f;


  font-family: "M PLUS Rounded 1c", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 900;
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 900;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  padding-inline: 2rem;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0px 2px 0 var(--clr-bg-secondary);
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0px 2px 0 var(--clr-bg-secondary);
}

h3 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  font-weight: 900;
}

h4 {
  font-size: 1.5em;
  line-height: 1.1;
  text-align: center;
  color: var(--clr-text-primary);
}

p {
  margin: 0;
  font-weight: 600;
}

button {
  width: fit-content;
  margin: auto;
  padding: 1rem 2rem;
  color: var(--clr-text-primary);
  font-size: 1.25rem;
  border: 1px solid var(--clr-accent-primary);
  background-color: var(--clr-accent-primary);
  box-shadow: 0 3px 0 0 var(--clr-accent-secondary), 0 -3px 0 0 var(--clr-accent-terciary);
  border-radius: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 0.75rem;
  background-color: var(--clr-text-secondary);
  border: 3px solid var(--clr-border-primary);
  font-size: 1.2rem;
  border-radius: 4px;
  text-transform: uppercase;
  width: 500px;
}

.w100 {
  width: 100%;
}

.mx-auto {
  margin-inline: auto;
}

.container {
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem;
  margin-inline: auto;
}

.score__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score__container--box {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem 2rem;
  color: var(--clr-accent-primary);
  text-shadow: 0px 2px 0 var(--clr-accent-secondary);
  background-color: var(--clr-bg-secondary);
  border: 2px solid var(--clr-accent-primary);
  box-shadow: 0 0 0 4px var(--clr-progress-secondary);
  border-radius: 8px;
  text-align: center;
}

.score__container--box.highlight {
  color: var(--clr-accent-primary-highlight);
  border: 2px solid var(--clr-accent-primary-highlight);
  background-color: var(--clr-bg-terciary);
}

.game__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--clr-bg-secondary);
  border: 10px solid var(--clr-text-secondary);
  border-radius: 16px;
}

.selectedWord {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.selectedLetter {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-text-primary);
  background-color: var(--clr-text-secondary);
  border-radius: 4px;
  font-size: 3.75rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--clr-border-secondary);
  box-shadow: 0 0 0 4px var(--clr-border-primary);
  text-shadow: 0px 2px 0 var(--clr-border-secondary);
  transition: all 0.2s ease;
}

.letterPoints {
  position: absolute;
  font-size: 0.8rem;
  bottom: 0;
  right: 2px;
}

.progress {
  width: 100%;
  border-radius: 8px;
  height: 10px;
  border: 2px solid var(--clr-border-secondary);
  box-shadow: 0 0 0 4px var(--clr-border-primary);
  background: linear-gradient(to right, var(--clr-progress-primary) 0%, var(--clr-progress-primary) var(--remaining-percentage), var(--clr-progress-secondary) var(--remaining-percentage), var(--clr-progress-secondary) 100%);
}

.wordlist {
  column-count: 3;
}

.word {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 4px;
  margin-block: 0.1rem;
  transition: all 0.3s ease;
}

.wordLetters {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
}

.letter {
  width: 30px;
  height: 30px;
  color: var(--clr-text-primary);
  background-color: var(--clr-text-primary);
  border-radius: 4px;
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--clr-border-primary);
  transition: all 0.3s ease;
}

.word.active {
  background-color: var(--clr-bg-terciary);
  justify-content: space-between;
}

.playerName {
  color: var(--clr-text-primary);
  font-size: 1rem;
  padding-left: 0.25rem;
}

.word.active .letter {
  color: var(--clr-text-primary);
  background-color: var(--clr-text-secondary);
  border: 2px solid var(--clr-border-secondary);
}
