@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
  --clr-bg-primary: #420072;
  --clr-bg-primary-dim: #4e0582;
  --clr-bg-secondary: #7534c4;
  --clr-bg-terciary: #b76efa;
  --clr-bg-quaternary: #c88efe;

  --clr-text-primary: #320d5a;
  --clr-text-secondary: #ddccff;
  --clr-text-terciary: #a797bf;

  --clr-border-primary: #5a1e9a;
  --clr-border-secondary: #f5f0ff;

  --clr-accent-primary: #F7C351;
  --clr-accent-primary-highlight: #ffe600;
  --clr-accent-primary-dim: #f7c35180;
  --clr-accent-secondary: #bb4704;
  --clr-accent-terciary: #f9d27f;

  --clr-lose: #F85091;
  --clr-lose-highlight: #c8316b;
  --clr-win: #1dffee;
  --clr-win-highlight: #00d4ff;

  --clr-progress-bg: #1c0c2f;
  --clr-progress-on-time: var(--clr-win);
  --clr-progress-late: var(--clr-lose);
  --clr-progress-color: var(--clr-progress-on-time);

  font-family: "M PLUS Rounded 1c", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: var(--clr-text-secondary);
  background: repeating-linear-gradient(
    45deg,
    var(--clr-bg-primary-dim),
    var(--clr-bg-primary-dim) 5px,
    var(--clr-bg-primary) 5px,
    var(--clr-bg-primary) 10px,
  );
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 900;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0px 1px 0 var(--clr-bg-terciary);
}

h2 {
  font-size: 2.3rem;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0px 1px 0 var(--clr-bg-terciary);
}

h3 {
  font-size: 1.8rem;
  line-height: 1.1;
  text-align: center;
  font-weight: 900;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.1;
  text-align: center;
  color: var(--clr-text-primary);
}

p {
  margin: 0;
  font-weight: 600;
}

.link {
  color: var(--clr-accent-primary);
  text-decoration: underline;
  text-shadow: 0px 0px 0 var(--clr-accent-terciary);;
  white-space: nowrap;
  letter-spacing: -1px;
  transition: all 0.3s ease;

  &:hover {
    color: var(--clr-accent-primary-highlight);
    text-shadow: 0px 1px 0 var(--clr-accent-terciary);
  }
}

button, .btn {
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem 2rem;
  color: var(--clr-text-primary);
  font-size: 1.25rem;
  border: 1px solid var(--clr-accent-primary);
  background-color: var(--clr-accent-primary);
  box-shadow: 0 3px 0 0 var(--clr-accent-secondary), 0 -3px 0 0 var(--clr-accent-terciary);
  border-radius: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--clr-accent-primary-highlight);
    box-shadow: 0 3px 0 0 var(--clr-accent-secondary), 0 -3px 0 0 var(--clr-accent-terciary);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  width: 100%;
  border-color: var(--clr-bg-quaternary);
}

input {
  padding: 0.5rem;
  background-color: var(--clr-text-secondary);
  border: 3px solid var(--clr-border-primary);
  box-shadow: 0 0 0px 2px var(--clr-bg-quaternary);
  font-size: 1.1rem;
  border-radius: 8px;
  text-transform: uppercase;
  width: 500px;

  &::placeholder {
    color: var(--clr-text-terciary);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
    border: 3px solid var(--clr-border-primary);
  }
  25% {
    transform: translateX(-5px);
    border: 3px solid var(--clr-lose);
  }
  50% {
    transform: translateX(5px);
    border: 3px solid var(--clr-lose);
  }
  75% {
    transform: translateX(-5px);
    border: 3px solid var(--clr-lose);
  }
  100% {
    transform: translateX(0);
    border: 3px solid var(--clr-border-primary);
  }
}

@keyframes success {
  0% {
    transform: scale(1);
    border: 3px solid var(--clr-border-primary);
  }
  50% {
    transform: scale(1.05);
    border: 3px solid var(--clr-win);
  }
  100% {
    transform: scale(1);
    border: 3px solid var(--clr-border-primary);
  }
}

@keyframes repeat {
  0% {
    transform: translateX(0);
    border: 3px solid var(--clr-border-primary);
  }
  25% {
    transform: translateX(-5px);
    border: 3px solid var(--clr-accent-primary);
  }
  50% {
    transform: translateX(5px);
    border: 3px solid var(--clr-accent-primary);
  }
  75% {
    transform: translateX(-5px);
    border: 3px solid var(--clr-accent-primary);
  }
  100% {
    transform: translateX(0);
    border: 3px solid var(--clr-border-primary);
  }
}

.animate-success {
  animation: success 0.5s;
}

.animate-error {
  animation: shake 0.5s;
}

.animate-repeated {
  animation: repeat 0.5s;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
}

.container {
  width: 90%;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  margin-inline: auto;
}

.w100 {
  width: 100%;
}

.mx-auto {
  margin-inline: auto;
}

.mt-auto {
  margin-block-start: auto;
}

.h-section {
  display: flex;
  flex-direction: column;
}

.ws-nw {
  white-space: nowrap;
}

.v-section {
  display: flex;
  flex-direction: row;
}

.f-jc-c {
  justify-content: center;
}

.f-ai-c {
  align-items: center;
}

.txt-center {
  text-align: center;
}

.d-none {
  display: none;
}

.op-0 {
  opacity: 0;
}

.title {
  color: var(--clr-text-secondary);
  text-shadow: 0px 2px 10px var(--clr-bg-primary);
}

.highlight {
  color: var(--clr-accent-primary);
  text-shadow: 0px 2px 0 var(--clr-accent-secondary);
  text-decoration-color: var(--clr-accent-primary);
}

.lost {
  color: var(--clr-lose);
  text-shadow: 0px 2px 0 var(--clr-lose-highlight);
}

.won {
  color: var(--clr-win);
  text-shadow: 0px 2px 0 var(--clr-win-highlight);
}

.unguessed {
  color: var(--clr-accent-primary-dim);
  text-shadow: 0px 2px 0 var(--clr-accent-secondary);
}

.gap-xs {
  gap: 0.5rem;
}

.gap-sm {
  gap: 1rem;
}

.gap-md {
  gap: 1.5rem;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 3rem;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/home-bg.jpg');
  background-color: #250186;
}

.logo {
  filter: drop-shadow(0px 2px 20px var(--clr-bg-primary));
}

.qr__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: max-content;
  margin: 2rem;
  padding: 3rem 2rem;
  color: var(--clr-accent-primary);
  text-shadow: 0px 2px 0 var(--clr-accent-secondary);
  background-color: var(--clr-bg-primary);
  border: 2px solid var(--clr-accent-primary);
  box-shadow: 0 0 0 4px var(--clr-progress-bg);
  border-radius: 8px;

  svg {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid var(--clr-bg-terciary);
    border-radius: 8px;
  }
}

.loading__container {
  position: relative;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 1;

  h2 {
    animation: scaleTitleAnimation 1s infinite;
  }

  &--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: var(--clr-bg-primary);
    border: 3px solid var(--clr-accent-primary);
    border-radius: 8px;
    box-shadow: 0 0 20px 4px var(--clr-progress-bg);
    z-index: -1;
    animation: scaleBoxAnimation 1s infinite;
  }
}

.loading__container--box-md {
  width: 240px;
  height: 240px;
  opacity: 0.8;
  animation: scaleBoxAnimation 1s infinite 0.1s;
}

.loading__container--box-lg {
  width: 280px;
  height: 280px;
  opacity: 0.4;
  animation: scaleBoxAnimation 1s infinite 0.2s;
}

.loading__container--box-xl {
  width: 320px;
  height: 320px;
  opacity: 0.2;
  animation: scaleBoxAnimation 1s infinite 0.3s;
}

@keyframes scaleBoxAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

@keyframes scaleTitleAnimation {
  0% {
    transform: scale(2);
  }
  30% {
    transform: scale(2.4);
  }
  30% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(2);
  }
}

.score__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score__container--box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem 2rem;
  color: var(--clr-accent-primary);
  text-shadow: 0px 2px 0 var(--clr-accent-secondary);
  background-color: var(--clr-bg-secondary);
  border: 2px solid var(--clr-accent-primary);
  box-shadow: 0 0 0 4px var(--clr-progress-bg);
  border-radius: 8px;
  text-align: center;

  &.won {
    color: var(--clr-accent-primary-highlight);
    border: 2px solid var(--clr-accent-primary-highlight);
    background-color: var(--clr-bg-terciary);
  }
}

.score__container--wordlist {
  display: grid;
  grid-template: repeat(var(--wordlist-rows), 1fr) / repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 0.1rem;
  grid-auto-flow: column dense;
}

.game__container {
  width: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  background-color: var(--clr-bg-secondary);
  border: 10px solid var(--clr-text-secondary);
  border-radius: 16px;
  filter: drop-shadow(0px 0px 10px var(--clr-bg-terciary));
}

.selectedWord {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.selectedLetter {
  position: relative;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-text-primary);
  background-color: var(--clr-text-secondary);
  border-radius: 4px;
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--clr-border-secondary);
  box-shadow: 0 0 0 4px var(--clr-border-primary);
  text-shadow: 0px 2px 0 var(--clr-border-secondary);
  transform: rotateX(0deg);
  animation: selectedLetter 0.5s linear forwards;

  &.fake {
    background-color: var(--clr-lose);
    text-shadow: 0px 2px 0 var(--clr-lose-highlight);
    animation: fakeSelectedLetter 0.5s linear forwards;
  }

  &.hidden {
    background-color: var(--clr-accent-primary);
    text-shadow: 0px 2px 0 var(--clr-accent-primary-highlight);
    animation: hiddenSelectedLetter 0.5s linear forwards;
  }
}

@keyframes selectedLetter {
  0% {
    color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(180deg);
  }
  50% {
    color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(90deg);
  }
  100% {
    color: var(--clr-text-primary);
    text-shadow: 0px 2px 0 var(--clr-border-secondary);
    transform: rotateX(0deg);
  }
}

@keyframes fakeSelectedLetter {
  0% {
    color: var(--clr-text-secondary);
    background-color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(180deg);
  }
  50% {
    color: var(--clr-text-secondary);
    background-color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(90deg);
  }
  100% {
    color: var(--clr-text-primary);
    text-shadow: 0px 2px 0 var(--clr-lose-highlight);
    background-color: var(--clr-lose);
    transform: rotateX(0deg);
  }
}

@keyframes hiddenSelectedLetter {
  0% {
    color: var(--clr-text-secondary);
    background-color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(180deg);
  }
  50% {
    color: var(--clr-text-secondary);
    background-color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(90deg);
  }
  100% {
    color: var(--clr-text-primary);
    text-shadow: 0px 2px 0 var(--clr-accent-primary-highlight);
    background-color: var(--clr-accent-primary);
    transform: rotateX(0deg);
  }
}

.letterPoints {
  position: absolute;
  font-size: 0.8rem;
  bottom: 0;
  right: 2px;
}

.progress__container {
  position: relative;
  width: 100%;
  border-radius: 8px;
  height: 10px;
  border: 2px solid var(--clr-border-secondary);
  box-shadow: 0 0 0 4px var(--clr-border-primary);
  background: linear-gradient(to right, var(--clr-progress-color) 0%, var(--clr-progress-color) var(--remaining-percentage), var(--clr-progress-bg) var(--remaining-percentage), var(--clr-progress-bg) 100%);
  transition: all 0.1s linear;
}

.progress__time {
  padding-block: 0.25rem;
  margin-left: auto;
}

.wordlist {
  display: grid;
  grid-template: repeat(var(--wordlist-rows), 1fr) / repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 0.1rem;
  grid-auto-flow: column dense;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: var(--clr-text-primary);
  background-color: var(--clr-text-primary);
  border-radius: 4px;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--clr-border-primary);
  box-shadow: 0 0 0 2px var(--clr-bg-secondary);
  transform: rotateX(180deg);
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease, transform 0.5s ease;

  span {
    opacity: 0;
  }
}

.word {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  padding: 0.2rem;
  border-radius: 8px;
  border: 2px solid var(--clr-bg-secondary);
  transition: all 0.3s ease;

  &.active {
    background-color: var(--clr-bg-terciary);
    border: 2px solid var(--clr-bg-quaternary);
    justify-content: space-between;
    animation: correctWord 1s ease;

    .letter {
      background-color: var(--clr-text-secondary);
      border: 2px solid var(--clr-border-secondary);
      box-shadow: 0 0 0 2px var(--clr-border-primary);
      transform: rotateX(0);
      animation: correctLetter 0.3s ease;

      span {
        opacity: 1;
      }
    }
  }
}

.wordLetters {
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
}

.playerName {
  color: var(--clr-text-primary);
  font-size: 1.15rem;
  padding-left: 0.25rem;
  font-weight: 600;
  letter-spacing: 0.05px;
}

@keyframes correctWord {
  0% {
    background-color: var(--clr-accent-primary-highlight);
  }
  40% {
    background-color: var(--clr-accent-primary);
  }
  80% {
    background-color: var(--clr-accent-primary);
  }
  100% {
    background-color: var(--clr-bg-terciary);
  }
}

@keyframes correctLetter {
  0% {
    color: var(--clr-text-primary);
  }
  100% {
    color: var(--clr-text-primary);
  }
}
