@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
  --clr-bg-primary: #420072;
  --clr-bg-primary-dim: #4e0582;
  --clr-bg-secondary: #7534c4;
  --clr-bg-terciary: #b76efa;
  --clr-bg-quaternary: #c88efe;

  --clr-text-primary: #360170;
  --clr-text-secondary: #ddccff;
  --clr-text-terciary: #a797bf;

  --clr-border-primary: #5a1e9a;
  --clr-border-secondary: #f5f0ff;

  --clr-accent-primary: #F7C351;
  --clr-accent-primary-highlight: #ffe600;
  --clr-accent-primary-dim: #f7c35180;
  --clr-accent-secondary: #e66820;
  --clr-accent-secondary-highlight: #702f01;
  --clr-accent-terciary: #f9d27f;

  --clr-dark: #3a0078;
  --clr-dark-dim: #3a007877;
  --clr-lose: #F85091;
  --clr-lose-dim: #fe70a6;
  --clr-lose-highlight: #c8316b;
  --clr-win: #1dffee;
  --clr-win-dim: #74fef2;
  --clr-win-highlight: #0196b4;
  --clr-tip: #b3d7fb;
  --clr-still: #1ae940;
  --clr-still-dim: #00ff0077;
  --clr-still-highlight: #07751b;

  --clr-progress-bg: #1c0c2f;
  --clr-progress-on-time: var(--clr-win);
  --clr-progress-mid: var(--clr-accent-primary);
  --clr-progress-late: var(--clr-lose);
  --clr-progress-color: var(--clr-progress-on-time);


  font-family: "M PLUS Rounded 1c", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: var(--clr-text-secondary);
  background: repeating-linear-gradient(
    45deg,
    var(--clr-bg-primary-dim),
    var(--clr-bg-primary-dim) 5px,
    var(--clr-bg-primary) 5px,
    var(--clr-bg-primary) 10px,
  );
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 576px) {
    -webkit-text-size-adjust: 40%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 900;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0px 1px 0 var(--clr-bg-terciary);

  @media screen and (max-width: 576px) {
    font-size: 40px;
  }
}

h2 {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0px 1px 0 var(--clr-bg-terciary);
  @media screen and (max-width: 576px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 27px;
  line-height: 1.1;
  text-align: center;
  font-weight: 900;
  @media screen and (max-width: 576px) {
    font-size: 24px;
  }
}

h4 {
  font-size: 22px;
  line-height: 1.1;
  text-align: center;
  color: var(--clr-text-primary);
  @media screen and (max-width: 576px) {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: var(--clr-text-primary);

  @media screen and (max-width: 576px) {
    font-size: 18px;
  }
}

h6 {
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  color: var(--clr-text-primary);

  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}

.title-sm {
  max-width: 470px;
  margin-inline: auto;
}

p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: unset !important;
}

.link {
  color: var(--clr-accent-primary);
  text-decoration: underline;
  text-shadow: 0px 0px 0 var(--clr-accent-terciary);;
  white-space: nowrap;
  letter-spacing: -1px;
  transition: all 0.3s ease;

  &:hover {
    color: var(--clr-accent-primary-highlight);
    text-shadow: 0px 1px 0 var(--clr-accent-terciary);
  }
}

button, .btn {
  width: fit-content;
  padding: 12px 36px;
  color: var(--clr-text-primary) !important;
  font-size: 18px;
  border: 1px solid var(--clr-accent-primary);
  background-color: var(--clr-accent-primary);
  box-shadow: 0 3px 0 0 var(--clr-accent-secondary), 0 -3px 0 0 var(--clr-accent-terciary), 0 6px 0 0 var(--clr-text-primary);
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover, &.selected {
    background-color: var(--clr-accent-primary-highlight);
    box-shadow: 0 3px 0 0 var(--clr-accent-secondary), 0 -3px 0 0 var(--clr-accent-terciary);
  }

  &:disabled {
    background-color: var(--clr-accent-primary-dim);
    border: 1px solid var(--clr-accent-primary-dim);
    box-shadow: 0 3px 0 0 var(--clr-accent-primary-dim), 0 -3px 0 0 var(--clr-accent-primary-dim);
    cursor: not-allowed;
  }

  &--deco {
    pointer-events: none;
    cursor: pointer !important;
  }

  &--win {
    border: 1px solid var(--clr-win);
    background-color: var(--clr-win);
    box-shadow: 0 3px 0 0 var(--clr-win-highlight), 0 -3px 0 0 var(--clr-win-dim), 0 6px 0 0 var(--clr-text-primary);
    transition: all 0.3s ease;

    &:hover, &.selected {
      border: 1px solid var(--clr-win-dim);
      background-color: var(--clr-win-dim);
      box-shadow: 0 3px 0 0 var(--clr-win-highlight), 0 -3px 0 0 var(--clr-win-dim);
    }
  }

  &--lose {
    border: 1px solid var(--clr-lose);
    background-color: var(--clr-lose);
    box-shadow: 0 3px 0 0 var(--clr-lose-highlight), 0 -3px 0 0 var(--clr-lose-dim), 0 6px 0 0 var(--clr-text-primary);
    transition: all 0.3s ease;

    &:hover, &.selected {
      border: 1px solid var(--clr-lose-dim);
      background-color: var(--clr-lose-dim);
      box-shadow: 0 3px 0 0 var(--clr-lose-highlight), 0 -3px 0 0 var(--clr-lose-dim);
    }
  }

  &--sm {
    font-size: 16px;
    padding: 8px 20px;
  }

  &--xs {
    font-size: 12px;
    padding: 2px 10px;
    box-shadow: 0 3px 0 0 var(--clr-accent-secondary);

    &.btn--win {
      box-shadow: 0 3px 0 0 var(--clr-win-highlight);
    }

    &.btn--lose {
      box-shadow: 0 3px 0 0 var(--clr-lose-highlight);
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  width: 100%;
  border-color: var(--clr-bg-quaternary);
}

input {
  padding: 8px;
  background-color: var(--clr-text-secondary);
  border: 3px solid var(--clr-border-primary);
  box-shadow: 0 0 0px 2px var(--clr-bg-quaternary);
  font-size: 18px;
  border-radius: 4px;
  text-transform: uppercase;
  width: 400px;

  &::placeholder {
    color: var(--clr-text-terciary);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
    border: 3px solid var(--clr-border-primary);
  }
  25% {
    transform: translateX(-5px);
    border: 3px solid var(--clr-lose);
  }
  50% {
    transform: translateX(5px);
    border: 3px solid var(--clr-lose);
  }
  75% {
    transform: translateX(-5px);
    border: 3px solid var(--clr-lose);
  }
  100% {
    transform: translateX(0);
    border: 3px solid var(--clr-border-primary);
  }
}

@keyframes success {
  0% {
    transform: scale(1);
    border: 3px solid var(--clr-border-primary);
  }
  50% {
    transform: scale(1.05);
    border: 3px solid var(--clr-win);
  }
  100% {
    transform: scale(1);
    border: 3px solid var(--clr-border-primary);
  }
}

@keyframes repeat {
  0% {
    transform: translateX(0);
    border: 3px solid var(--clr-border-primary);
  }
  25% {
    transform: translateX(-5px);
    border: 3px solid var(--clr-accent-primary);
  }
  50% {
    transform: translateX(5px);
    border: 3px solid var(--clr-accent-primary);
  }
  75% {
    transform: translateX(-5px);
    border: 3px solid var(--clr-accent-primary);
  }
  100% {
    transform: translateX(0);
    border: 3px solid var(--clr-border-primary);
  }
}

.animate-success {
  animation: success 0.5s;
}

.animate-error {
  animation: shake 0.5s;
}

.animate-repeated {
  animation: repeat 0.5s;
}

main {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
}

.container {
  width: 90%;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-inline: auto;
}

.w100 {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.mx-auto {
  margin-inline: auto;
}

.mt-auto {
  margin-block-start: auto;
}

.v-section {
  display: flex;
  flex-direction: column;
}

.ws-nw {
  white-space: nowrap;
}

.h-section {
  display: flex;
  flex-direction: row;
}

.mb-sm {
  margin-block: 16px;
}

.f-jc-c {
  justify-content: center;
}

.f-jc-sb {
  justify-content: space-between;
}

.f-ai-c {
  align-items: center;
}

.txt-center {
  text-align: center;
}

.d-none {
  display: none;
}

.op-0 {
  opacity: 0;
}

.cursor {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
    text-decoration: underline;
  }
}

.mechanic-button {
  background: none;
  border: none;
  box-shadow: none;
  font-size: 23px;
  line-height: 1.1;
  text-align: center;
  padding: 2px;
  margin: 0;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.dark {
    color: var(--clr-dark);
    text-shadow: 0px 2px 0 var(--clr-dark-dim);
  }

  &.lost {
    color: var(--clr-lose);
    text-shadow: 0px 2px 0 var(--clr-lose-highlight);
  }

  &.still {
    color: var(--clr-still);
    text-shadow: 0px 2px 0 var(--clr-still-highlight);
  }

  &.highlight {
    color: var(--clr-accent-primary);
    text-shadow: 0px 2px 0 var(--clr-accent-secondary);
  }

  &.won {
    color: var(--clr-win);
    text-shadow: 0px 2px 0 var(--clr-win-highlight);
  }

  @media screen and (max-width: 576px) {
    font-size: 22px;
  }
}

.title {
  color: var(--clr-text-secondary);
  text-shadow: 0px 2px 10px var(--clr-bg-primary);
}

.highlight {
  color: var(--clr-accent-primary);
  text-shadow: 0px 2px 0 var(--clr-accent-secondary);
  text-decoration-color: var(--clr-accent-primary);
}

.lost {
  color: var(--clr-lose);
  text-shadow: 0px 2px 0 var(--clr-lose-highlight);
}

.still {
  color: var(--clr-still);
  text-shadow: 0px 2px 0 var(--clr-still-highlight);
}

.won {
  color: var(--clr-win);
  text-shadow: 0px 2px 0 var(--clr-win-highlight);
}

.dark {
  color: var(--clr-dark);
  text-shadow: 0px 2px 0 var(--clr-dark-dim);
}

.unguessed {
  color: var(--clr-accent-secondary);
  text-shadow: 0px 2px 0 var(--clr-accent-secondary-highlight);
}

.tip {
  color: var(--clr-tip);
}

.gap-2xs {
  gap: 4px;
}

.gap-xs {
  gap: 8px;
}

.gap-sm {
  gap: 16px;
}

.gap-md {
  gap: 24px;
}

.gap-lg {
  gap: 32px;
}

.gap-xl {
  gap: 48px;
}

.pos-rel {
  position: relative;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/home-bg.jpg');
  background-color: #250186;

  @media screen and (max-width: 576px) {
    -webkit-text-size-adjust: 70%;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  filter: drop-shadow(0px 2px 20px var(--clr-bg-primary));
  @media screen and (max-width: 576px) {
    width: 260px;
    margin-bottom: 20px;
  }
}

.qr__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: max-content;
  margin: 2rem;
  padding: 48px 32px;
  color: var(--clr-accent-primary);
  text-shadow: 0px 2px 0 var(--clr-accent-secondary);
  background-color: var(--clr-bg-primary);
  border: 2px solid var(--clr-accent-primary);
  box-shadow: 0 0 0 4px var(--clr-progress-bg);
  border-radius: 8px;

  svg {
    margin: 0.5rem;
    padding: 8px;
    border: 4px solid var(--clr-bg-terciary);
    border-radius: 8px;
  }
}

.loading__container {
  position: relative;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  z-index: 1;

  h2 {
    animation: scaleTitleAnimation 1s infinite;
  }

  &--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: var(--clr-bg-primary);
    border: 3px solid var(--clr-accent-primary);
    border-radius: 8px;
    box-shadow: 0 0 20px 4px var(--clr-progress-bg);
    z-index: -1;
    animation: scaleBoxAnimation 1s infinite;
  }
}

.loading__container--box-md {
  width: 240px;
  height: 240px;
  opacity: 0.8;
  animation: scaleBoxAnimation 1s infinite 0.1s;
}

.loading__container--box-lg {
  width: 280px;
  height: 280px;
  opacity: 0.4;
  animation: scaleBoxAnimation 1s infinite 0.2s;
}

.loading__container--box-xl {
  width: 320px;
  height: 320px;
  opacity: 0.2;
  animation: scaleBoxAnimation 1s infinite 0.3s;
}

@keyframes scaleBoxAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

@keyframes scaleTitleAnimation {
  0% {
    transform: scale(2);
  }
  30% {
    transform: scale(2.4);
  }
  30% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(2);
  }
}

.score__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--abs {
    position: absolute;
    width: 100%;
  }
}

.score__container--box {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  gap: 8px;
  color: var(--clr-accent-primary);
  text-shadow: 0px 2px 0 var(--clr-accent-secondary);
  background-color: var(--clr-bg-secondary);
  border: 2px solid var(--clr-accent-primary);
  box-shadow: 0 0 0 4px var(--clr-progress-bg);
  border-radius: 4px;
  text-align: center;

  &-sm {
    padding: 8px 24px;
    gap: 2px;
  }

  &.dark {
    background-color: var(--clr-bg-primary-dim);
    padding: 32px;
  }

  &.won {
    color: var(--clr-accent-primary-highlight);
    border: 2px solid var(--clr-accent-primary-highlight);
    background-color: var(--clr-bg-terciary);
  }
}

.score__container--wordlist {
  display: grid;
  grid-template: repeat(var(--wordlist-rows), 1fr) / repeat(3, 1fr);
  column-gap: 16px;
  grid-auto-flow: column dense;

  h4 {
    transition: color 0.3s ease;

    &:hover {
      color: var(--clr-accent-primary-highlight);
    }
  }

  a {
    font-size: 23px;
    line-height: 1.1;
    text-align: center;
  }
}

.game__container {
  width: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 24px;
  background-color: var(--clr-bg-secondary);
  border: 10px solid var(--clr-text-secondary);
  border-radius: 8px;
  filter: drop-shadow(0px 0px 10px var(--clr-bg-terciary));

  @media screen and (max-width: 576px) {
    padding: 44px 32px;
  }
}

.selectedWord {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.selectedLetter {
  position: relative;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-text-primary);
  background-color: var(--clr-text-secondary);
  border-radius: 4px;
  font-size: 53px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--clr-border-secondary);
  box-shadow: 0 0 0 4px var(--clr-border-primary);
  text-shadow: 0px 2px 0 var(--clr-border-secondary);
  transform: rotateX(0deg);
  animation: selectedLetter 0.5s linear forwards;

  @media screen and (max-width: 576px) {
    width: 80px;
    height: 80px;
    font-size: 46px;
  }

  &.still {
    background-color: var(--clr-still);
    border: 2px solid var(--clr-still-highlight);
    text-shadow: 0px 2px 0 var(--clr-still-highlight);
    animation: none !important;
    transform: none !important;

    &::before {
      content: "";
      position: absolute;
      top: 51%;
      left: 51%;
      transform: translate(-50%, -50%);
      width: 123%;
      height: 123%;
      background: url('./assets/vines.png') no-repeat center center;
      background-size: contain;
    }
  }

  &.fake {
    background-color: var(--clr-lose);
    text-shadow: 0px 2px 0 var(--clr-lose-highlight);
    animation: fakeSelectedLetter 0.5s linear forwards;
  }

  &.hidden {
    background-color: var(--clr-accent-primary);
    text-shadow: 0px 2px 0 var(--clr-accent-primary-highlight);
    animation: hiddenSelectedLetter 0.5s linear forwards;
  }

  &.dark {
    background-color: var(--clr-text-primary);;
    text-shadow: 0px 2px 0 var(--clr-dark-dim);
    animation: darkSelectedLetter 0.5s linear forwards;
  }

  &.dark-outline {
    border: 2px solid var(--clr-dark);
    box-shadow: 0 0 0 4px var(--clr-dark-dim);
  }

  &.common {
    background-color: var(--clr-tip);
    text-shadow: 0px 2px 0 var(--clr-border-secondary);
    animation: commonSelectedLetter 0.5s linear forwards;
  }
}

@keyframes selectedLetter {
  0% {
    color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(180deg);
  }
  50% {
    color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(90deg);
  }
  100% {
    color: var(--clr-text-primary);
    text-shadow: 0px 2px 0 var(--clr-border-secondary);
    transform: rotateX(0deg);
  }
}

@keyframes fakeSelectedLetter {
  0% {
    color: var(--clr-text-secondary);
    background-color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(180deg);
  }
  50% {
    color: var(--clr-text-secondary);
    background-color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(90deg);
  }
  100% {
    color: var(--clr-text-primary);
    text-shadow: 0px 2px 0 var(--clr-lose-highlight);
    background-color: var(--clr-lose);
    transform: rotateX(0deg);
  }
}

@keyframes hiddenSelectedLetter {
  0% {
    color: var(--clr-text-secondary);
    background-color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(180deg);
  }
  50% {
    color: var(--clr-text-secondary);
    background-color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(90deg);
  }
  100% {
    color: var(--clr-text-primary);
    text-shadow: 0px 2px 0 var(--clr-accent-primary-highlight);
    background-color: var(--clr-accent-primary);
    transform: rotateX(0deg);
  }
}

@keyframes darkSelectedLetter {
  0% {
    color: var(--clr-dark);
    background-color: var(--clr-text-primary);
    text-shadow: 0px 2px 0 var(--clr-dark);
    transform: rotateX(180deg);
  }
  50% {
    color: var(--clr-dark);
    background-color: var(--clr-text-primary);
    text-shadow: 0px 2px 0 var(--clr-dark);
    transform: rotateX(90deg);
  }
  100% {
    color: var(--clr-dark);
    text-shadow: 0px 2px 0 var(--clr-dark);
    background-color: var(--clr-text-primary);
    transform: rotateX(0deg);
  }
}

@keyframes commonSelectedLetter {
  0% {
    color: var(--clr-text-secondary);
    background-color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(180deg);
  }
  50% {
    color: var(--clr-text-secondary);
    background-color: var(--clr-text-secondary);
    text-shadow: 0px 2px 0 var(--clr-text-secondary);
    transform: rotateX(90deg);
  }
  100% {
    color: var(--clr-text-primary);
    background-color: var(--clr-tip);
    text-shadow: 0px 2px 0 var(--clr-border-secondary);
    transform: rotateX(0deg);
  }
}


.letterPoints {
  position: absolute;
  font-size: 10px;
  bottom: 0;
  right: 2px;

  @media screen and (max-width: 576px) {
    bottom: -7px;
    right: 0px;
    font-size: 14px;
  }
}

.progress__container {
  position: relative;
  width: 100%;
  border-radius: 8px;
  height: 10px;
  border: 2px solid var(--clr-border-secondary);
  box-shadow: 0 0 0 4px var(--clr-border-primary);
  background: linear-gradient(to right, var(--clr-progress-color) 0%, var(--clr-progress-color) var(--remaining-percentage), var(--clr-progress-bg) var(--remaining-percentage), var(--clr-progress-bg) 100%);
  transition: all 0.1s linear;
}

.progress__time {
  font-size: 16px;
  padding-block: 4px;
  margin-left: auto;
}

.wordlist {
  display: grid;
  grid-template: repeat(var(--wordlist-rows), 1fr) / repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 1.5px;
  grid-auto-flow: column dense;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  color: var(--clr-text-primary);
  background-color: var(--clr-text-primary);
  border-radius: 4px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--clr-border-primary);
  box-shadow: 0 0 0 2px var(--clr-bg-secondary);
  transform: rotateX(180deg);
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease, transform 0.5s ease;

  @media screen and (max-width: 576px) {
    width: 23px;
    height: 23px;
  }

  span {
    opacity: 0;
  }
}

.word {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 8px;
  border: 2px solid var(--clr-bg-secondary);
  transition: all 0.3s ease;

  &.active {
    background-color: var(--clr-bg-terciary);
    border: 2px solid var(--clr-bg-quaternary);
    justify-content: space-between;
    animation: correctWord 1s ease;

    .letter {
      background-color: var(--clr-text-secondary);
      border: 2px solid var(--clr-border-secondary);
      box-shadow: 0 0 0 2px var(--clr-border-primary);
      transform: rotateX(0);
      animation: correctLetter 0.3s ease;

      span {
        opacity: 1;
      }
    }
  }
}

.wordLetters {
  display: flex;
  justify-content: flex-end;
  gap: 5px
}

.playerName {
  color: var(--clr-text-primary);
  font-size: 16px;
  padding-left: 4px;
  font-weight: 600;
  letter-spacing: 0.05px;

  @media screen and (max-width: 576px) {
    font-size: 13px;
  }
}

@keyframes correctWord {
  0% {
    background-color: var(--clr-accent-primary-highlight);
  }
  40% {
    background-color: var(--clr-accent-primary);
  }
  80% {
    background-color: var(--clr-accent-primary);
  }
  100% {
    background-color: var(--clr-bg-terciary);
  }
}

@keyframes correctLetter {
  0% {
    color: var(--clr-text-primary);
  }
  100% {
    color: var(--clr-text-primary);
  }
}

@media (min-width: 576px) {
  .top-scores {
    margin-right: 5rem;
  }
}

.top-scores__arrows {
  position: absolute;
  top: 38px;
  left: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;

  img {
    width: 44px;
    filter: drop-shadow(0px 2px 0px var(--clr-accent-secondary));

    @media screen and (max-width: 576px) {
      width: 60px;
    }
  }

  &--tooltip {
    left: 10%;
    top: 24px;
    width: 80%;

    img {
      width: 20px;
      filter: drop-shadow(0px 2px 0px var(--clr-accent-secondary));
    }
  }
}

.ranking {
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  @media screen and (min-width: 576px) {
    min-width: 410px;

    &--lg {
      min-width: 480px;
    }
  }

  .ranking__table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    tr {
      line-height: 0.9;
    }

    td {
      text-align: left;
      padding-inline: 8px;
      font-size: 23px;

      &:nth-child(2) {
        min-width: 165px;
      }

      &:nth-child(3), &:nth-child(4) {
        text-align: right;
      }
    }
  }
}

.info-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  padding: 4px;
  border: 2px solid var(--clr-accent-primary);
  box-shadow: 0 0 0 3px var(--clr-progress-bg);
  border-radius: 16px;
  background-color: var(--clr-bg-primary);
  font-size: 14px;
  font-weight: 600;
  rotate: 5deg;
  cursor: help;

  @media screen and (max-width: 576px) {
    width: 18px;
    height: 18px;
  }
}

.tooltip-container {
  position: absolute;
  display: inline-block;
  top: -15px;
  right: -15px;
}

.tooltip-content {
  position: absolute;
  bottom: 40px;
  left: -10px;
  width: max-content;
  max-width: 220px;
  padding: 8px;
  color: var(--clr-accent-primary);
  background-color: var(--clr-bg-primary);
  border: 2px solid var(--clr-accent-primary);
  box-shadow: 0 0 0 2px var(--clr-progress-bg);
  border-radius: 8px;
  font-weight: 500;
  z-index: 1000;
  text-align: center;

  p {
    margin: 0;
    font-size: 14px;
    text-shadow: none;
  }
}

.modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &.open {
    display: flex;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    cursor: pointer;

    @media screen and (max-width: 576px) {
      h4 {
        font-size: 40px;
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-inline: auto;
    padding: 64px;
    background-color: var(--clr-bg-primary);
    border: 2px solid var(--clr-accent-primary);
    box-shadow: 0 0 0 4px var(--clr-progress-bg);
    border-radius: 4px;

    @media screen and (max-width: 576px) {
      max-width: 900px;
      padding: 70px 100px;
    }
  }
}

.instruction-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
  min-height: 230px;
  animation: fadeIn 0.5s ease;

  @media screen and (max-width: 576px) {
    min-height: 320px;
  }

  &__arrows {
    position: absolute;
    top: 50%;
    left: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;

    @media screen and (max-width: 576px) {
      left: 1%;
      width: 98%;
    }

    img {
      width: 40px;
      filter: drop-shadow(0px 2px 0px var(--clr-accent-secondary));
      @media screen and (max-width: 576px) {
        width: 70px;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.volume-control, .difficulty-tag {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  cursor: pointer;

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.difficulty-tag {
  left: 20px;

  @media screen and (max-width: 576px) {
    left: 10px;
  }
}

.language-selector {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;

  .language-toggle {
    padding-block: 4px
  }

  @media screen and (max-width: 576px) {
    top: 50px;
    left: 10px;

    .language-toggle {
      font-size: 12px;
      padding: 6px 8px;
      min-width: 35px;
    }
  }
}
